@model Patient.Dtos.ReceptionHistoryModelDto

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddHistoryModal">
    Новая запись
</button>

<!-- Modal -->
<div class="modal fade" id="AddHistoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить новая запись</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddReceptionHistory", "ReceptionHistories", "post"))
                {
                    <div class="form-group">
                        <label for="patient">Выберите пациента:</label>
                        <select class="form-control" id="patient" name="patientName">
                            @foreach (var patient in Model.Patients)
                            {
                                <option>@patient.FullName / @patient.Iin</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="doctorName">Выберите специалиста:</label>
                        <select class="form-control" id="doctorName" name="doctorName">
                            @foreach (var doctor in Model.Doctors)
                            {
                                <option>@doctor.FullName / @doctor.Specialty</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="dateTime">Введите дату:</label>
                            <input type="date" class="form-control" id="dateTime" name="dateTime">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="complaint">Жалобы</label>
                        <input type="text" class="form-control" id="complaint" name="complaint">
                    </div>
                    <div class="form-group">
                        <label for="diagnosis">Диагноз</label>
                        <input type="text" class="form-control" id="diagnosis" name="diagnosis">
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                }
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
