@model Patient.Dtos.ReceptionHistoryModelDto
@{
    ViewBag.Title = "Журнал приема пациентов";
}

@using (Html.BeginForm("SearchHistories", "ReceptionHistories", "post"))
{
    <input type="search" class="form-control rounded" placeholder="Поиск" aria-label="Search"
           aria-describedby="search-addon" id="search" name="searchText"/>
    <button type="submit" class="btn btn-outline-primary">Поиск</button>
}
@Html.Partial("SearchHistories")
@Html.Partial("AddReceptionHistory")




